.product-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 8px;
    padding: 16px 24px;
    margin: 0 24px;
    box-shadow: 1px 5px 10px 1px #00000010;
}

.product-item p {
    margin: 12px auto;
}

.product-item button {
    border: none;
    border-radius: 4px;
    padding: 8px 16px;
    background-color: black;
    color: white;
    cursor: pointer;
}