* {
    box-sizing: border-box;
    font-family: sans-serif;
    padding: 0;
    margin: 0;
    color: #2b2b2a;
}

body {
    background-color: #efefef;
    padding: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
}